$black :' #000';

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import 'parciales/_home.scss';
@import 'parciales/_about.scss';
@import 'parciales/_projects.scss';
@import 'parciales/_skills.scss';
@import 'parciales/_interesed.scss';
@import 'parciales/_contact.scss';
@mixin tamañoletra($fz,$lh){
  font-size:$fz;
  line-height: $lh;
}
* {
	font-family: 'El Messiri', Helvetica, Arial, sans-serif;
}

body {
  font-family: Roboto Slab;
  background: rgb(248, 62, 87) ;
  color: white;
  height: 100%;
  width: 100%;
  h1 {
    font-size: 80px;
    font-family: Oswald;
    letter-spacing: 3px;
    /* line-height: 80px; */
    font-weight: 500;
    word-wrap: break-word;
  }
  h2 {
    @include tamañoletra(32px,30px);
  }
  h3 {
    @include tamañoletra(26px,29px);
  }
  h4 {
    @include tamañoletra(20px,25px);
  }
  
  h5 {
    font-size: 16px;
    line-height: 21px;
  }
  
  h6 {
    font-size: 15px;
  }
}









.left {
  float: left;
}

.right {
  float: right;
}

/* FOOTER DIV */
footer {
  padding: 3em 0;
  background: $black;
  .soc-media-ul a {
    text-align: center;
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 3rem;
  color: #fff;
  border-radius: 50%;
} 

  .soc-media-ul a:hover
   {
    color: #FF5733;
  }
.soc-media-ul a:focus{
    color: #FF5733;
  }

/* SCROLL DOWN BUTTON */
.btn-circle {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.btn-circle:hover {
  background: rgba(255,255,255,0.1);
}

/* SOCIAL ICONS */
.icon-btn {
  text-align: center;
  font-size: 30px;
  letter-spacing: 30px;
  text-indent: 30px;
}

@media screen and (max-width: 768px) {
    h1{
        font-size:30px;
    }
    .thumbnail img{
        height:130px;
        width:240px;
    }
}

@media (max-width:450px){
  .text{
    font-size: 25px;
  }
  .img-round {  
    height: 150px;
    width: 150px;
    margin:auto;
  }
  .skillbar-title {
    width:60px;
    font-weight:normal;
		font-size:8px;
  }
  .soc-media-ul a {
    font-size: 1.5rem;
  }
  .sec-services{
    font-size: 1.5rem;
  }
  .sec-services{
  font-size:0.7em;
}
  
}
@media screen and (max-width: 600px) {
  .soc-media-ul a {
    font-size: 2rem;
  }
}