/* ABOUT ME WRAPPER */
#aboutme {
    margin-top: 5px;
    margin-bottom: 60px;
    background: rgb(218, 110, 110);
    color: white;
    margin-left: 75px;
    margin-right: 75px;
    a:hover {
        color: #a8a8a8;
        font-weight: 600;
      }
  }
 
  /* HEADSHOT */
  .img-round {
    border-radius: 100%;
    height: 250px;
    width: 250px;
  }