
.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eee !important;
}

.mo0dal-title {
	color: #151515;
	font-size: 14px;
}

.collapse {
	color: #151515;
}


a {
  color: rgb(248, 62, 87) !important;
  
}



a, a:hover, a:focus, a:active,
.btn,
.btn:hover,
.btn:focus,
.btn:active {
	transition: .5s all ease;
}

.btn {
	font-weight: 700;
}

.bg-img {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	color: #fff;
}

.bg-color {
	background-color: #A89F68;
	color: #fff;
  padding: 5em 0;
  h2 small {
    color: #fff;
  }
}

ul {
	list-style: none;
	padding: 0;
}
/* NAVBAR */
menu {
	margin: 0;
	padding: 0;
}

.navbar-brand h1 {
	margin: 0;
	padding: 0;
	font-size: 140%;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(112, 104, 104, 0.7);
	transition: .5s all ease;
}

.navbar-inverse {
	background-color: transparent;
	border: none;
}
/* HEADER DIV */
#header {
  text-align: center;
  a {
    font-size: 45px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  a:hover {
    font-size: 50px;
  }
  
 }

#welcome {
  padding-top:70px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* SCROLL DOWN ARROW */

.fa-angle-double-down {
  vertical-align: 8%;  
}