
.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #eee !important;
}

.mo0dal-title {
	color: #151515;
	font-size: 14px;
}

.collapse {
	color: #151515;
}
a {
  color: rgb(248, 62, 87) !important;
}

a, a:hover, a:focus, a:active,
.btn,
.btn:hover,
.btn:focus,
.btn:active {
	transition: .5s all ease;
}

.btn {
	font-weight: 700;
}

.bg-img {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	color: #fff;
}

.bg-color {
	background-color: #A89F68;
	color: #fff;
  padding: 5em 0;
  h2 small {
    color: #fff;
  }
}

ul {
	list-style: none;
	padding: 0;
}
/* NAVBAR */
menu {
	margin: 0;
	padding: 0;
}

.navbar-brand h1 {
	margin: 0;
	padding: 0;
	font-size: 140%;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(112, 104, 104, 0.7);
	transition: .5s all ease;
}

.navbar-inverse {
	background-color: transparent;
	border: none;
}
/* HEADER DIV */
#header {
  text-align: center;
  a {
    font-size: 45px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  a:hover {
    font-size: 50px;
  }
  
 }

#welcome {
  padding-top:70px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* SCROLL DOWN ARROW */

.fa-angle-double-down {
  vertical-align: 8%;  
}
/* SECTION 1 WRAPPER */
#wrapper1 {
	font-family: Roboto Slab;
	padding: 0;
	margin: 0;
	color: white;
	position: center;
	background: url('img/IMG_4092.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	height: 100vh;
	
	
}
video {
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
}
/* COOL NAME EFFECT */
a:hover,a:focus{text-decoration:none;}
.svg-wrapper {
position: relative;
top: 35%;
transform: translateY(-60%);
margin: 0 auto;
width: 500px;
max-height:100px;
cursor:default;
}
.shape {
stroke-dasharray: 200 600;
stroke-dashoffset: -441;
stroke-width: 10px;
fill: transparent;
/* modify this with the color you want */
stroke: rgb(248, 62, 87);  
border-bottom: 5px solid black;
transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
font-family: serif;
font-size: 40px;
line-height: 32px;
letter-spacing: 5px;
color: #fff;
top: -80px;
position: relative;
text-align:center;
}
.svg-wrapper:hover .shape {
stroke-width: 2px;
stroke-dashoffset: 0;
stroke-dasharray: 800;
}
/* END COOL NAME EFFECT */